.electoral-college-chart {
    min-height: 16px;
    border: 1px;
    border-style: solid;
    background-color: #737373;
    margin-left: 4%;
    margin-right: 4%;

    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.chart-group {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    transition: width 0.25s;
}


.chart-subgroup {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}


.chart-element {
    height: 100%;

    transition: width 0.25s;
    transition: opacity 0.25s;
}

.chart-element-blur {
    opacity: 0;
}



.chart-center-indicator {
    position: absolute; 

    left: 50%;
    border-left: 1px solid black;
    border-right: 1px solid black;

    height: 100%;
    opacity: 0.8;
}