body {
    background-color: #1b1e2b;
}

.america-state-map:hover .state {
    opacity: 0.4;

    transition: 0.3s;
}

.state {
    fill: #494949;
    stroke: #6a6a6a;
    stroke-width: 1;

    transition: 0.2s;
}

.state:hover {
    opacity: 1 !important;
    fill: #aaaaaa;
    cursor: pointer;
}

.state-panel-tooltip {
    pointer-events: none;
}