body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #262b41;
}

.ribbon-container {
    height: 6vh;
    border-bottom-style: solid;
    margin-bottom: 2vh;
}

.state-map:hover .state {
    opacity: 0.6;

    transition: 0.2s;
}

.state {
    fill: #737373;
    stroke: #212121;
    stroke-width: 0.6;

    transition: 0.1s;
}

.state:hover {
    opacity: 1 !important;
    cursor: pointer;
}

.state-panel-tooltip {
    pointer-events: none;
    user-select: none;
}

.drag-dropdown {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 0px !important;
    height: 1lh;
    transition: width 0.3s;
}

.drag-dropdown:not(.drag-dropdown-dragging) {
    transition: transform 0.15s;
}

.drag-dropdown-item {
    list-style: none;
    user-select: none;
    cursor: pointer;
    width: fit-content
}

.drag-dropdown-item:not(.drag-dropdown-active) {
    opacity: 0.75;
}

.drag-dropdown-item.drag-dropdown-active {
    user-select: text;
}

.justify-right, .prediction-sentence-container {
    float: right;
}

.prediction-sentence {
    font-size: larger;
}

.prediction-sentence-subtext {
    font-size: small;
}

.electoral-college {
    width: 50%;
}

.electoral-college-chart {
    min-height: 16px;
    border: 1px;
    border-style: solid;
    background-color: #737373;
    margin-left: 4%;
    margin-right: 4%;

    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.electoral-college-chart-group {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    transition: width 0.25s;
}

.electoral-college-chart-group.d {
    justify-content: 'flex-start';
}

.electoral-college-chart-group.o {
    justify-content: 'center';
}

.electoral-college-chart-group.r {
    justify-content: 'flex-end';
}

.electoral-college-chart-center-indicator {
    position: absolute;

    left: 50%;
    border-left: 1px solid black;
    border-right: 1px solid black;

    height: 100%;
    opacity: 0.8;
}

.electoral-college-chart-winner-indicator {
    position: absolute;

    left: 50%;
    width: 3px;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.electoral-college-chart-element {
    transition: width 0.25s;
}