.safe-d {
    
    fill: #344ee4;
    color: #344ee4;
}

.safe-d.electoral-college-chart-element {
    background-color: #344ee4;
}



.likely-d {
    fill: #4863ff;
    color: #4863ff;
}

.likely-d.electoral-college-chart-element {
    background-color: #4863ff;
}



.lean-d {
    fill: #8093ff;
    color: #8093ff;
}

.lean-d.electoral-college-chart-element {
    background-color: #8093ff;
}



.tilt-d {
    fill: #aab6ff;
    color: #aab6ff;
}

.tilt-d.electoral-college-chart-element {
    background-color: #aab6ff;
}



.safe-r {
    fill: #ff1b1b;
    color: #ff1b1b;
}

.safe-r.electoral-college-chart-element {
    background-color: #ff1b1b;
}



.likely-r {
    fill: #ff4848;
    color: #ff4848;
}

.likely-r.electoral-college-chart-element {
    background-color: #ff4848;
}



.lean-r {
    fill: #ff8080;
    color: #ff8080;
}

.lean-r.electoral-college-chart-element {
    background-color: #ff8080;
}


.tilt-r {
    fill: #ffbcbc;
    color: #ffbcbc;
}

.tilt-r.electoral-college-chart-element {
    background-color: #ffbcbc;
}



.safe-o {
    fill: #ffdd1b;
    color: #ffdd1b;
}

.safe-o.electoral-college-chart-element {
    background-color: #ffdd1b;
}
 


.likely-o {
    fill: #ffd448;
    color: #ffd448;
}

.likely-o.electoral-college-chart-element {
    background-color: #ffd448;
}



.lean-o {
    fill: #ffd780;
    color: #ffd780;
}

.lean-o.electoral-college-chart-element {
    background-color: #ffd780;
}



.tilt-o {
    fill: #ffefbc;
    color: #ffefbc;
}

.tilt-o.electoral-college-chart-element {
    background-color: #ffefbc;
}