.safe-d {
    fill: #354dda;
    color: #354dda;
}

.safe-d.electoral-college-chart-element {
    background-color: #354dda;
}



.likely-d {
    fill: #4a62e9;
    color: #4a62e9;
}

.likely-d.electoral-college-chart-element {
    background-color: #4a62e9;
}



.lean-d {
    fill: #94a4fc;
    color: #94a4fc;
}

.lean-d.electoral-college-chart-element {
    background-color: #94a4fc;
}



.tilt-d {
    fill: #b9c3ff;
    color: #b9c3ff;
}

.tilt-d.electoral-college-chart-element {
    background-color: #b9c3ff;
}



.safe-r {
    fill: #e42323;
    color: #e42323;
}

.safe-r.electoral-college-chart-element {
    background-color: #e42323;
}



.likely-r {
    fill: #fc5959;
    color: #fc5959;
}

.likely-r.electoral-college-chart-element {
    background-color: #fc5959;
}



.lean-r {
    fill: #ffa1a1;
    color: #ffa1a1;
}

.lean-r.electoral-college-chart-element {
    background-color: #ffa1a1;
}


.tilt-r {
    fill: #ffbebe;
    color: #ffbebe;
}

.tilt-r.electoral-college-chart-element {
    background-color: #ffbebe;
}



.safe-o {
    fill: #ffbe0a;
    color: #ffbe0a;
}

.safe-o.electoral-college-chart-element {
    background-color: #ffbe0a;
}
 


.likely-o {
    fill: #ffc46b;
    color: #ffc46b;
}

.likely-o.electoral-college-chart-element {
    background-color: #ffc46b;
}



.lean-o {
    fill: #ffd5a4;
    color: #ffd5a4;
}

.lean-o.electoral-college-chart-element {
    background-color: #ffd5a4;
}



.tilt-o {
    fill: #ffe1b4;
    color: #ffe1b4;
}

.tilt-o.electoral-college-chart-element {
    background-color: #ffe1b4;
}